---
layout: post
---
<div>Research notes and the occasional unrelated blog post.</div>
{% for project in site.posts %}
<div class="project">
    <div class="thumbnail">
        <a href="{{ site.baseurl }}{{ project.url }}">
        {% if project.img %}
        <img class="thumbnail" src="{{ project.img }}"/>
        {% else %}
	<div class="thumbnail blankbox"></div>
        {% endif %}    
        <span>
            <h1>{{ project.title }}</h1>
	    <p> Posted on {{ project.date | date: "%B %-d, %Y" }}</p>
	    {% if project.updated %}
	    <p>Updated on {{ project.updated }} </p>
	    {% endif %}
        </span>
        </a>
    </div>
</div>
{% endfor %}
